<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApb24gucaLqrGy0SsoAM_8uxd-RybW3NE</string>
	<key>GCM_SENDER_ID</key>
	<string>426026973740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alerthub</string>
	<key>PROJECT_ID</key>
	<string>alerthub2024</string>
	<key>STORAGE_BUCKET</key>
	<string>alerthub2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426026973740:ios:2340ed2b8b4d9e89eeaf89</string>
</dict>
</plist>